@import "../../services/globalStyles/mixins.scss";
@import "../../services/globalStyles/variables.scss";

.listOfUsers {
  .close-container {
    position: relative;
    margin: auto;
    width: 17px;
    height: 17px;
    margin-top: -30px;
    cursor: pointer;
  }

  .leftright, .rightleft {
    height: 2.5px;
    width: 17px;
    position: absolute;
    margin-top: 24px;
    background-color: $black;
    border-radius: 2px;
    transition: all 0.3s ease-in;
  }

  .leftright {
    transform: rotate(45deg);
  }

  .rightleft {
    transform: rotate(-45deg);
  }

  label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
  }

  .close {
    margin: 60px 0 0 5px;
    position: absolute;
  }

  .close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #f25c66;
  }

  .close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #f25c66;
  }

  .users_text {
    display: flex;
    justify-content: space-between;
    color: $black;
    text-align: center;
    padding-left: 90px;
  }

  .users_text:first-of-type {
    padding-left: 70px;
  }

  .closeBtn {
    border: none;
    background-color: $white;
  }

  .user {
    cursor: pointer;
    transition: 0.6s;
    display: inline-block;
    position: relative;
    color: $black;
    width: 180px;
    padding: 12px 2px 12px 15px;
  }

  .user:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: $black;
    opacity: 0.2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .user:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .users_line {
    border-top: 1px solid #f5eded;
    margin-top: 8px;
  }

  .dropdownContainer:focus {
    outline: none;
  }

  .dropdownContainer:focus .userDropdown {
    opacity: 1;
    z-index: 100;
    transition: opacity 0.2s, z-index 0.2s;
  }
  .userDropdown {
    position: absolute;
    margin-top: 11px;
    background-color: $white;
    box-shadow: 2px 2px 5px 0px #263238;
    outline: none;
    width: 250px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.1s, z-index 0.1s;
    border-radius: 5px;
    padding: 11px 17px;
  }

  .threeDots {
    @include flex($justify: space-between);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
    background-color: $white;
  }

  .threeDots:hover {
    background-color: #EBEBEB
  }

  .threeDots:after {
    cursor: pointer;
    color: $white;
    content: "⠇";
    font-size: 20px;
    padding: 0 2px;
    color: $black;
  }

  .options-container {
    max-height: 500px;
    color: $black;
  }

  .selected {
    color: $black;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
  }

  .user:last-child {
    margin-bottom: 2px;
  }

  .user label {
    cursor: pointer;
  }
}