@charset "UTF-8";
.listOfUsers .close-container {
  position: relative;
  margin: auto;
  width: 17px;
  height: 17px;
  margin-top: -30px;
  cursor: pointer;
}
.listOfUsers .leftright, .listOfUsers .rightleft {
  height: 2.5px;
  width: 17px;
  position: absolute;
  margin-top: 24px;
  background-color: #1a1a1a;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}
.listOfUsers .leftright {
  transform: rotate(45deg);
}
.listOfUsers .rightleft {
  transform: rotate(-45deg);
}
.listOfUsers label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
}
.listOfUsers .close {
  margin: 60px 0 0 5px;
  position: absolute;
}
.listOfUsers .close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}
.listOfUsers .close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}
.listOfUsers .users_text {
  display: flex;
  justify-content: space-between;
  color: #1a1a1a;
  text-align: center;
  padding-left: 90px;
}
.listOfUsers .users_text:first-of-type {
  padding-left: 70px;
}
.listOfUsers .closeBtn {
  border: none;
  background-color: #fff;
}
.listOfUsers .user {
  cursor: pointer;
  transition: 0.6s;
  display: inline-block;
  position: relative;
  color: #1a1a1a;
  width: 180px;
  padding: 12px 2px 12px 15px;
}
.listOfUsers .user:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: #1a1a1a;
  opacity: 0.2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.listOfUsers .user:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.listOfUsers .users_line {
  border-top: 1px solid #f5eded;
  margin-top: 8px;
}
.listOfUsers .dropdownContainer:focus {
  outline: none;
}
.listOfUsers .dropdownContainer:focus .userDropdown {
  opacity: 1;
  z-index: 100;
  transition: opacity 0.2s, z-index 0.2s;
}
.listOfUsers .userDropdown {
  position: absolute;
  margin-top: 11px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 0px #263238;
  outline: none;
  width: 250px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.1s, z-index 0.1s;
  border-radius: 5px;
  padding: 11px 17px;
}
.listOfUsers .threeDots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 10px;
  background-color: #fff;
}
.listOfUsers .threeDots:hover {
  background-color: #EBEBEB;
}
.listOfUsers .threeDots:after {
  cursor: pointer;
  color: #fff;
  content: "⠇";
  font-size: 20px;
  padding: 0 2px;
  color: #1a1a1a;
}
.listOfUsers .options-container {
  max-height: 500px;
  color: #1a1a1a;
}
.listOfUsers .selected {
  color: #1a1a1a;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
}
.listOfUsers .user:last-child {
  margin-bottom: 2px;
}
.listOfUsers .user label {
  cursor: pointer;
}