.dashboardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
.dashboardBody .newBlock {
  min-height: 100vh;
}
.dashboardBody .dashboardContainer {
  display: flex;
  padding: 30px 30px 300px 30px;
  flex-direction: column;
}
.dashboardBody .imageLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 600px;
  height: 900px;
}
.dashboardBody .imageRight {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}
.dashboardBody .panel {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
.dashboardBody .userSelect {
  margin-left: 45px;
}
.dashboardBody .dashboardComponents {
  display: flex;
}