@import "../../services/globalStyles/mixins.scss";
@import "../../services/globalStyles/variables.scss";

.dashboardBody {
    
    @include flex(column, center, nowrap);
    position: relative;

    .newBlock {
        min-height: 100vh;
    }

    .dashboardContainer {
        display: flex;
        padding: 30px 30px 300px 30px;
        flex-direction: column;
    }

    .imageLeft {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 600px;
        height: 900px;
    }

    .imageRight {
        z-index: -1;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .panel {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5px;
    }

    .userSelect {
        margin-left: 45px;
    }

    .dashboardComponents {
        display: flex;
    }
}
