.example-custom-input {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
  color: transparent;
  height: 95px;
  width: 95px;
}

.calendar_img {
  background-image: url(../../assets/svg/calendar/calendar.svg);
  background-repeat: no-repeat;
}

.month_calendar {
  display: flex;
  max-width: 190px;
}