@import '../../services/globalStyles/mixins.scss';
@import '../../services/globalStyles/variables.scss';

.changePasswordPageMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 100px;
}

.bgLeft {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.abstractAndInputs {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1620px;
}

.inputsWrapper {
    @include flex(column);
    min-width: 500px;
    max-width: 500px;
}

.inputs {
    margin-top: 50px;
    @include flex(column);
    justify-content: space-between;
    min-width: 500px;
    max-width: 500px;
    position: relative;
}

.openEye {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 21%;
    border: none;
    background-color: white
}

.changeInput {
    @include inputDesign();
    border-radius: 10px;
    border: 2px solid transparent;
    text-align: left;
    margin: 10px;
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 5px 0px $darkgrey;
    display: flex;
    justify-content: space-evenly;
}

#changeInputErr {
    @include inputDesign();
    border-radius: 10px;
    border: 2px solid red;
    text-align: left;
    margin: 10px;
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 5px 0px $darkgrey;
}

#error {
    color: red;
    margin: 20px;
    font-size: 26px;
}

.changeButton {
    @include buttonDesign($white, $orange);
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    outline: none;
    transition: .3s all ease-in;
}

.changeButton:hover {
    @include buttonDesign($orange, white);
    border-color: $orange;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    outline: none;
}

.bgRight {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.plant {
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 1;
}

@media screen and (max-width: 1750px) {
    .abstractAndInputs {
        width: 99%;
    }
    .bgLeft {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .bgRight {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

@media screen and (max-width: 1300px){
    .abstractAndInputs{
        margin: 0 auto;
        align-items: center;
        width: 36%;
        display: flex;
        flex-direction: column;
    }
    .abstract {
        width: 99%;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        width: 70px;
        height: 110px;
    }
}