.days_calendar {
    width: 300px;
}

.customInput {
    border-radius: 10px;
    border-color: transparent;
    outline: none;
    box-sizing: border-box;
    height: 80px;
    width: 300px;
    background: #FFFFFF url(../../assets/svg/calendar/calendar.svg) no-repeat;
    background-position: 22px;
    background-size: 30px 30px;
    padding-left: 100px;
    font-size: 30px;
}