.bodiesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background-image: url(../../assets/svg/backgroundImage.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.bodiesContainer .teamLogo img {
  display: flex;
  align-items: flex-start;
  top: 0;
  margin: 3vh 0 -100vh 7.5vw;
}
.bodiesContainer .inputWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 45vw;
  height: 80vh;
}
.bodiesContainer .inputWindow .loginText {
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0px #263238;
  margin-bottom: 1%;
  font-weight: lighter;
  width: 30vw;
  height: 5vh;
  padding: 4% 4%;
  color: #333;
}
.bodiesContainer .inputWindow .passwordHide {
  display: flex;
  align-items: center;
  border: 1px solid #8d8d8d;
  margin-bottom: 1%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 0px #263238;
  position: relative;
}
.bodiesContainer .inputWindow .passwordHide .passwordText {
  color: #333;
  border: none;
  outline: none;
  width: 30vw;
  height: 7.5vh;
  padding: 4% 17% 4% 6%;
}

.signinButton button {
  color: #fff;
  background-color: #23E9B4;
  border: 4px solid transparent;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  transition: 0.3s all ease-in;
  cursor: pointer;
  width: 30vw;
  height: 7vh;
  font-size: x-large;
  box-shadow: 2px 2px 5px 0px #263238;
}