@import "../../services/globalStyles/mixins.scss";
@import "../../services/globalStyles/variables.scss";

.bodiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    background-image: url(../../assets/svg/backgroundImage.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    .teamLogo {

        img {
            display: flex;
            align-items: flex-start;
            top: 0;
            margin: 3vh 0 -100vh 7.5vw;
        }
    }

    .inputWindow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        width: 45vw;
        height: 80vh;

        .loginText {
            outline: none;
            border: none;
            border-radius: 4px;
            box-shadow: 2px 2px 5px 0px $darkgrey;
            margin-bottom: 1%;
            font-weight: lighter;
            width: 30vw;
            height: 5vh;
            padding: 4% 4%;
            color: $inputText;
        }

        .passwordHide {
            display: flex;
            align-items: center;
            border: 1px solid $inputBorder;
            margin-bottom: 1%;
            border-radius: 4px;
            background-color: $white;
            box-shadow: 2px 2px 5px 0px $darkgrey;
            position: relative;

            .passwordText {
                color: $inputText;
                border: none;
                outline: none;
                width: 30vw;
                height: 7.5vh;
                padding: 4% 17% 4% 6%;
            }
        }
    }
}
.signinButton {

    button {
        @include buttonDesign;
        width: 30vw;
        height: 7vh;
        font-size: x-large;
        box-shadow: 2px 2px 5px 0px $darkgrey;
    }
}
