@import "../../services/globalStyles/variables.scss";

.close-container {
    position: relative;
    margin: auto;
    width: 17px;
    height: 17px;
    margin-top: -30px;
    cursor: pointer;
}

.leftright {
    height: 2.5px;
    width: 17px;
    position: absolute;
    margin-top: 24px;
    background-color: $black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}

.rightleft {
    height: 2.5px;
    width: 17px;
    position: absolute;
    margin-top: 24px;
    background-color: $black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.close {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.close {
    margin: 60px 0 0 5px;
    position: absolute;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: $tomatored;
}
.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: $tomatored;
}

.headerContainer {
    height: 70px;
    width: 100%;
    background-color: $darkgrey;
    display: flex;
    color: $white;
    justify-content: space-between;
}

.menuNav {
    display: flex;
    flex: 1, 2;
    justify-content: flex-end;
    align-items: center;
}

#menuItem1 {
    padding-left: 105px;
}

#menuItem2 {
    padding-left: 85px;
}

#menuItem3 {
    padding-left: 90px;
}

.threeDots:after {
    cursor: pointer;
    color: $white;
    content: "\2807";
    font-size: 20px;
    padding: 0 2px;
}

.navLink {
    text-decoration: none;
    color: $black;
}

.header_button_list {
    display: flex;
    justify-content: space-between;
    color: $black;
    text-align: center;
    padding-left: 90px;

    &:first-of-type {
        padding-left: 70px;
    }
}

.closeBtn {
    border: none;
    background-color: $white;
}

.navLink div {
    padding: 2px;
    margin-top: 23px;
    transition: 0.6s;

    & {
        display: inline-block;
        position: relative;
        color: $black;
    }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.header_button_list_line {
    border-top: 1px solid $lightGrey;
    margin-top: 8px;
}

.logOut {
    color: $red;
}

.dropdownContainer:focus {
    outline: none;
}

.dropdownContainer:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s;
}

.dropdown {
    position: absolute;
    right: 9.5px;
    margin-top: 11px;
    background-color: $white;
    box-shadow: 2px 2px 5px 0px $darkgrey;
    outline: none;
    width: 250px;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s;
    border-radius: 5px;
    padding: 11px 17px;
}

.dropdown1 {
    position: absolute;
    right: 532px;
    margin-top: 11px;
    background-color: $white;
    box-shadow: 2px 2px 5px 0px $darkgrey;
    outline: none;
    width: 250px;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s;
    border-radius: 5px;
    padding: 11px 17px;
}

.dropdownContainer:focus .dropdown1 {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s;
}

.logoAndUserInfo {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .userInfo {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: $fonteightteen;
        font-weight: 400;
        line-height: 27px;
        width: 500px;
    }

    .logoImage {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: flex-start;
        top: 0;
        margin: 2vh -12vh -100vh 2vw;
    }
}

.threeDots {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    margin-right: 10px;
}

.threeDots:hover {
    background-color: $grey;
}
