$aquagreen: #23e9b4;
$white: #fff;
$darkgrey: #263238;
$blue: #0360a4;
$orange: #ffac4b;
$coral: #ff5a5a;
$lightgrey: #ebebeb;
$inputBorder: rgb(141, 141, 141);
$inputText: #333;
$darkblue: #1c3f60;
$black: #1a1a1a;
$fontbold: 700;
$fontregular: 400;
$fontfourteen: 14px;
$fonteightteen: 18px;
$fonttwentyfour: 24px;
$fontsizethirty: 30px;
$fontthirtysix: 36px;
$grey: #455a64;
$lightGrey: rgb(245, 237, 237);
$red: red;
$softorange: #f4a259;
$tomatored: #f25c66;
$blockwidth: 200px;
