.totalBody .totalHead {
  background-color: #0360A4;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 3px;
  width: 200px;
}
.totalBody .totalBox {
  background-color: #EBEBEB;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  padding: 10px 20px;
  margin: 6px;
  height: 57px;
  width: 200px;
}