@import "../../../../services/globalStyles/variables.scss";
@import "../../../../services/globalStyles/mixins.scss";

.totalBody {
    .totalHead {
        @include timesheetDesign($blue, $white);
        @include flex(row, center, nowrap);
        font-size: $fontsizethirty;
        font-weight: $fontbold;
        padding: 10px 20px;
        margin: 3px;
        width: $blockwidth;
    }

    .totalBox {
        @include timesheetDesign($lightgrey, #000000);
        @include flex(row,center,nowrap);
        font-size: $fontsizethirty;
        padding:10px 20px;
        margin: 6px;
        height: 57px;
        width: $blockwidth;
    }
}