@import "../../../../services/globalStyles/variables.scss";
@import "../../../../services/globalStyles/mixins.scss";

.differenceBody {
    .differenceHead {
        display: flex;
        @include timesheetDesign($blue, $white);
        @include flex(row, center, nowrap);
        font-size: $fontsizethirty;
        font-weight: $fontbold;
        padding: 10px 20px;
        border-radius: 0px 10px 0px 0px;
        margin: 3px;
        width: $blockwidth;
    }
    .differenceBox {
        @include timesheetDesign($lightgrey, #000000);
        @include flex(row, center, nowrap);
        font-size: $fontsizethirty;
        padding: 10px 20px;
        margin: 6px;
        width: $blockwidth;
        height: 57px;
    }
}
