.timeBody {
  overflow: auto;
  width: 824px;
}
.timeBody .timeInOutRow {
  display: flex;
}
.timeBody .timeInOutRow .timeHeadMain {
  display: flex;
}
.timeBody .timeInOutRow .timeHeadMain .timeHead {
  display: flex;
  background-color: #0360A4;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 3px;
  width: 200px;
}
.timeBody .timeRow {
  display: flex;
}
.timeBody .timeRow .timeBoxIn {
  background-color: #23E9B4;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  font-weight: 700;
  margin: 3px;
  width: 200px;
  height: 57px;
}
.timeBody .timeRow .timeBoxOut {
  background-color: #FFAC4B;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 3px;
  width: 200px;
  height: 57px;
}
.timeBody .timeRow .timeBoxEmpty {
  background-color: #FFAC4B;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 3px;
  width: 200px;
}