@import "../../../../services/globalStyles/variables.scss";
@import "../../../../services/globalStyles/mixins.scss";

.timeBody {
    overflow: auto;
    width: 824px;
    // height: 100vh;

    .timeInOutRow {
        display: flex;

        .timeHeadMain {
            display: flex;

            .timeHead {
                display: flex;
                @include timesheetDesign($blue, $white);
                @include flex(row, center, nowrap);
                font-size: $fontsizethirty;
                font-weight: $fontbold;
                padding: 10px 20px;
                margin: 3px;
                width: $blockwidth;
            }
        }
    }

    .timeRow {
        display: flex;

        .timeBoxIn {
            @include timesheetDesign($aquagreen, $white);
            @include flex(row, center, nowrap);
            font-size: $fontsizethirty;
            font-weight: $fontbold;
            margin: 3px;
            width: $blockwidth;
            // padding: 20px;
            height: 57px;
        }

        .timeBoxOut {
            @include timesheetDesign($orange, $white);
            @include flex(row, center, nowrap);
            font-size: $fontsizethirty;
            font-weight: $fontbold;
            padding: 10px 20px;
            margin: 3px;
            // padding: 20px;
            width: $blockwidth;
            height: 57px;
        }
        .timeBoxEmpty {
            @include timesheetDesign($orange, $white);
            @include flex(row, center, nowrap);
            font-size: $fontsizethirty;
            font-weight: $fontbold;
            padding: 10px 20px;
            margin: 3px;
            width: $blockwidth;
        }
    }
}