@import './services/globalStyles/mixins.scss';
@import './services/globalStyles/variables.scss';
@import './services/globalStyles/fonts.scss';


* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}