@import '../../../../services/globalStyles/variables.scss';
@import '../../../../services/globalStyles/mixins.scss';

.dateBody {
    .dateHead {
        @include timesheetDesign($blue,$white);
        @include flex(row,center,nowrap);
        font-size: $fontsizethirty;
        padding:10px 20px;
        border-radius: 10px 0px 0px 0px;
        margin: 3px;
        font-weight: $fontbold;
        width: $blockwidth;
    }
    .dateBox {
        @include timesheetDesign($lightgrey, #000000);
        @include flex(row,center,nowrap);
        font-size: $fonttwentyfour;
        padding:10px 20px;
        margin: 6px;
        height: 57px;
        // font-size: 28px;
        // padding: 20px;
        width: $blockwidth;
    }
}